.photo-grid {
    width: calc(100% - 32px);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
    gap: 12px;
    margin: 0 auto;
    padding-top: 64px;
}

@media screen and (min-width: 768px) {
    .photo-grid {
        width: calc(100% - 48px);
        padding-top: 88px;
        gap: 16px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid {
        width: calc(100% - 96px);
        padding-top: 92px;
        gap: 14px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid {
        gap: 16px;
    }
}