.lead__title {
    font-weight: 900;
    text-align: center;
    margin: 0 auto;
    padding: 0;
}

@media screen and (min-width: 320px) {
    .lead__title {
        width: calc(100% - 32px);
        font-size: 40px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 768px) {
    .lead__title {
        width: calc(100% - 48px);
        font-size: 96px;
        line-height: 1.04;
    }
}

@media screen and (min-width: 1024px) {
    .lead__title {
        width: calc(100% - 104px * 2);
    }
}

@media screen and (min-width: 1280px) {
    .lead__title {
        width: calc(100% - 132px * 2);
    }
}