.place__paragraph {
    font-weight: 400;
    line-height: 1.63;
    font-size: 16px;
    margin: 0 16px;
    padding: 0;
}

@media screen and (min-width: 768px) {
    .place__paragraph{
        margin: 0;
    }
}

@media screen and (min-width: 1024px) {
    .place__paragraph {
        font-size: 18px;
    }
}
