.place__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    text-decoration: underline;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity 1s ease;
  }
  
  .place__link:hover {
    opacity: 0.8;
  }