.cover__title {
    max-width: 560px;
    width: 90%;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    text-align: center;
    padding: 0;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .cover__title {
        font-size: 72px;
        line-height: 1.06;
   }
}
