.place {
    display: grid;
    margin: 0 auto;
}

@media screen and (min-width: 320px) {
    .place {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(min-content, max-content));
        grid-template-areas:
        "title"
        "image"
        "text";
        row-gap: 32px;
    }
}

@media screen and (min-width: 768px) {
   .place {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        grid-template-rows: repeat(2, minmax(min-content, max-content));
        grid-template-areas:
        "title website"
        "image text";
        row-gap: 48px;
        column-gap: 28px;
   }
}

@media screen and (min-width: 1024px) {
    .place {
        column-gap: 32px;
    }
}

@media screen and (min-width: 1280px) {
    .place {
        column-gap: 40px;
    }
}